body{
    --background: #F5F5F5;
    background-color: #F5F5F5 !important;
}

.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover; 
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar-scrolled {
    background-color: black !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15) !important;
}


