*{
    --background: #f9f9f9 !important;
}

body{
    background-color: var(--background) !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: none;  /* Safari and Chrome */

}

.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover; 
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar-scrolled {
    background-color: black !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15) !important;
}


